* {
  border-style: solid;
}

body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

.navigation {
  background-color: rgba(255, 255, 255, 0.6);
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  font-size: 22px;
  text-transform: uppercase;
  padding: 5px;
  margin: 10px 20px;
}

li.overview {
  display: inline-block;
  font-size: 18px;
}

.header {
  background-image: url("http://i.imgur.com/JSl0qhX.jpg");
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 800px;
}

#header-text {
  margin: auto;
  text-align: center;
  position: relative;
  top: 35%;
  width: 70%;
  font-size: 35px;
  font-family: "Verdana";
}

p {
font-family: "Georgia";
font-size: 18px;
}

h3 {
   text-decoration: underline;
}

a {
  text-decoration: none;
  color:black;
}
