body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

* {
  border-style: solid;
}

.header {
  background-image: url("http://i.imgur.com/JSl0qhX.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  float: center;
  height: 800px;
  width: 800px;
}

#header-text {
  margin: 0 auto;
  text-align: center;
  top: 25%;
  width: 60%;
  font-size: 35px;
  font-family: "Verdana";
}

p {
font-family: "Georgia";
font-size: 18px;
}
