* {
  border-style: solid;
}

body {
  background-color: #FFF;
  margin: 0px;
  padding: 0px;
}


.navigation {
  background-color: rgba(255, 255, 255, 0.6);
  left: 0px;
  top: 0px;
  overflow-y: auto;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1;
  border-style: double;
}

#navbar {
  border-style: dotted;
}

.navbar-items {
  display: inline-block;
  font-size: 22px;
  text-transform: uppercase;
  margin: 10px 20px;
  padding: 8px;
}



.header {
  background-image: url("http://i.imgur.com/JSl0qhX.jpg");
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 800px;
}

#header-text {
  margin: auto;
  text-align: center;
  position: relative;
  top: 35%;
  width: 70%;
  font-size: 35px;
  font-family: "Verdana";
}



h2.overview-content {
  border-style: dotted;
  padding: 200px 400px;
}

.overview-content {
  display: inline-block;
  width: auto;
  font-size: 18px;
}




p {
  font-family: "Georgia";
  font-size: 18px;
}

h2 {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color:black;
}
